// Utilities
@import "../styles/variables.scss";
.score-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: $dark-purple;
  color: white;
  font-size: 20px;
  gap: 30px
}

.ulist{
  display: grid;
    grid-template-rows: auto;
    padding-left: 0;
    background-color: $light-purple;
    border-radius: 5px;
    color: $dark-purple;
}
.litem{
  display: grid;
    list-style-type: none;
    grid-template-columns: 60%  40%;
    border-bottom: 2px solid $dark-purple;
    font-size: 20px;
    font-weight: 600;
    padding: 10px
}



.litem :first-child{
  text-align: left;
  font-size: 16px;
}
.litem :last-child{
 text-align: right;
}
.description {
    display: grid;
    background-color: $dark-purple;
    list-style-type: none;
    grid-template-columns: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color:white;
}
.highlighted {
  border: 5px solid $dark-orange;
  background-color: $light-orange;
  color: white;
  border-radius: 5px;
}
