@import "../styles/variables.scss";
.main-container:hover{
  cursor: pointer;

}

.image-container{
  background-color: $dark-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.text{
  font-size: 32px;
  font-weight: 500;

}
